* {
    margin:0;
    padding:0;
}

header {
    background-color:#7A7A21;
    padding: 0;
   
    
}

li a.nav-link{
    margin: 0;
    
}

.navbar-nav {
    margin-left: 30px;
    padding: 10%;
    
}


.logo {
    width: 225px; height: 225px;
}

.mi-carousel {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-inner {
    height: 400px;
}

.imgw {
    width: 100%;
}


.nosotros{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
     
  
}


   
.titulo1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#C7C736;
    margin: 0% 0 0 0;
    size: 15px;
    padding: 0%;
    
}

@media (min-width:768px) {
    .titulo1 {
        margin: 50% 0 0 0;
    }
    
}

.textopana {
    padding: 0%;
    font-family:  'Oranienbaum', serif;
    font-size: 17px;
    color: #7A7A46;
    margin: 0% 0 0 0;
    padding: 0;
}

@media (min-width:768px) {
    .textopana {
        margin: 20% 0 0 0;
    }
    
}

.img1{
     size: 9px;
     
}

.foto-historia {
  display: none;
  margin: 0;
  padding: 0;
  } 

@media (min-width:769px) {
    .foto-historia {
      display: block;
    }  

}

.section2{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #7A7A21;
    font-family: 'Oranienbaum', serif; 
    padding: 0 0 5% 0;
    
}

.wowanimacion {
    padding: 5% 0 5% 0;
    font-size: 250%;
    font-style: italic;
    color: #7A7A21;
    animation-duration: 30s; 
    animation-name: animate__flash;
    animation-iteration-count: infinite;
    text-align: center;

}

@keyframes animate__flash {
    from { font-size:250%  }
    to   { font-size: 350% }
}



.section3 {
    background-color: white;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat (3, 1fr);
    gap: 10px;
    justify-items:center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.titulo3 {
    font-size: 400%;
    font-style: italic;
    color: #7A7A46;
    font-family: 'Oranienbaum', serif; 
    margin: 5% 0% 10% 0;

}


.contenedor {
    position: relative;
    height: 250px;
    width: 250px;
}

.contenedor .img-fluid .back {
    position: absolute;
    left: 0;
    transition: opacity .5s ease-in-out;
    
}

.contenedor .img-fluid .top:hover {
    opacity: 0;
    
}


.section4 {
    background-color: white;
    color: #C7C736;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}


@mixin sizes ($width, $height) {
    height: $height - 300px;
    width: $width;
}

.titulo4 {
    font-size: 150%;
    display: flex;
    text-align: center;
    color:  white;
    background-color: #C7C736;
    padding: 20px 20px 20px 30px;
    margin: 20px 20px 20px 20px; 
    animation-duration: 1s; 
    animation-name: animate__bounceIn;
    animation-iteration-count: infinite;
    @include sizes(300px, 30px);
    
   
}


@keyframes animate__bounceIn {
    from { color: #C7C736 }
    to   { color: black }
}

.ganadores {
display: grid;
grid-template-columns: repeat (2, 1fr);
grid-template-rows: repeat (1, 1fr);
gap: 10px;
flex-direction: row;
justify-content:center;
align-items:center;
font-size: 115%;
list-style: none;
margin: 20px 0px 20px 0px; 

}


$sorteo: (
    ganador: #7A7A46,
    premio: #7A7A46,
    en: #7A7A46,
);

@each $red, $color in $sorteo {
    .btn--#{$red} {
        background-color: $color;
        color: white;
        padding: 5px;
    }

}


.mi-contacto {
    background-color: #7A7A21;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10%;
    margin: 0%;
    margin-right: 0;

   
}

.redes {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mi-mapa{
    margin-top: 5%;
}

@media (min-width:991px) {
    .mi-mapa {
       margin-top: 0%;
    }  
    

footer {
   
    background-color: #7A7A21;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5%;
    margin: 0%;
    
}


.jumbotron {
    background-color:#FBFB8F;
    color: black;
    size: 2px;
    padding: 1%;
  }


.btn {
    background-color: #7A7A21;
    color: white;
  }  


.mi-carousel {
    width: 100%;
    margin: 0;
    padding: 0;
}


.carousel-inner {
    height: 400px;
    margin: 0%;
    padding: 0%;

    
}


header {
    background-color: #7A7A21;
    padding: 0;
}

li a.nav-link{
    color: white;
}

.navbar-nav {
    margin-left: 30px;
    
}

.marca {
    margin: 5%;
}
}